{% extends "base.html.twig" %}

{%  block body %}
    <h1>Moyen de paiement</h1>

    {% for label, messages in app.flashes %}
        {%  for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {%  endfor %}
    {% endfor %}

    <p><a href="{{ path('payment_edit') }}" class="btn btn-primary">Ajouter une moyen</a></p>

    {%  for payment in payments %}
        <p><a href="{{ path('payment_edit', {id: payment.idmoyen}) }}">{{ payment.nom }}</a></p>
    {% endfor %}

{%  endblock body %}
